.main-container-interests,
.main-container{
  margin-top: 60px;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;

}
.demo-container
.sub-container{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  
}
.my-picture{
  height: 700px;
  margin-top: 50px;
  border: 2px solid #171813;
}







.demo-button,
.my-interests-title,
.about-me-title{
  font-family: 'Abril Fatface', 'Roboto Slab', Arial;
  font-size: 90px;
  text-decoration: underline;
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom center;
}
.demo-text,
.my-interests-text,
.about-me-text{
  
  font-family: 'Roboto', Arial;
  font-size: 24px;
  transition: transform 0.5s ease-in-out;
  width: 400px;
  transform-origin: top center;
  color: #171813;
}
.demo-container:hover .demo-text,
.my-interests-container:hover .my-interests-text,
.about-me-container:hover .about-me-text {
  transform: scale(1.2);

}
.demo-container:hover .demo-button,
.my-interests-container:hover .my-interests-title,
.about-me-container:hover .about-me-title{
  transform: scale(1.2);
}

#ai-img{
  height: 400px;
  margin-top: 100px;
  margin-right: 80px;
  border: 2px solid #171813;
}
#drawing-img{
  height: 500px;
  margin-top: 100px;
  border: 2px solid #171813;
}
#event-img{
  height: 400px;
  margin-top: 100px;
  border: 2px solid #171813;
}
.demo-text{display: flex;}
#dismf{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 80vw;

}

.demo-container,
.my-interests-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media (max-width: 800px){
  .my-picture{
    height: 300px;
  }


  .my-interests-container,
  .main-container-interests,
  .demo-container,
  .about-me-container,
  .main-container{
    
    width: 80vw;
    max-width: 100%;
    display: flex;
    margin: 60px auto 80px auto;
    flex-direction: column;
    align-items: center;
  }
  .demo-button,
  .my-interests-title,
  .about-me-title{
    font-size: 50px;
    text-align: center;
  }
  .demo-text,
  .my-interests-text,
  .about-me-text{
    max-width: 100%;
    display: inline-block;
    text-align: center;

  }

  .sub-container-interests:nth-child(1) {order: 1;}
  .sub-container-interests:nth-child(2) {order: 2;}
  .sub-container-interests:nth-child(3) {order: 4;}
  .sub-container-interests:nth-child(4) {order: 3;}
  .sub-container-interests:nth-child(5) {order: 5;}
  .sub-container-interests:nth-child(6) {order: 6;}

  #drawing-img{
    height: 90vw;
    margin-top: 50px;
  }
  #ai-img{
    height:60vw;
    margin: 0;
  }
  #event-img{
    height: 60vw;
    position: relative;
    top:-20vw;
  }
}